.contact-cards {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;

  gap: 30px;
  width: 100%;

  .single-contact-card {
    width: 70%;
    border-radius: 50px;
    background: #f5f5f5;
    box-shadow: 20px 20px 60px #b0b0b0, -20px -20px 60px #ffffff;
    transition: 0.2s;
    padding: 40px 50px;

    @media (min-width: 768px) {
      width: 40%;
    }

    @media (min-width: 992px) {
      width: 33%;
      &:hover {
        box-shadow: 20px 20px 60px #7b7b7b;
        width: 35%;
      }
    }

    @media screen and (min-width: 1280px) and (min-height: 590px) and (max-height: 792px) {
      padding: 20px 35px;
    }

    img {
      margin-bottom: 30px;

      @media screen and (min-width: 1280px) and (min-height: 590px) and (max-height: 792px) {
        margin-bottom: 20px;
      }
    }

    a {
      overflow-wrap: break-word;
      font-size: 18px;
      display: block;
      text-decoration: none;
      color: $main-dark;
    }

    .btn {
      font-size: 14px;
      background-color: $main-dark;
      border-radius: 25px;
      color: white;
      width: fit-content;
      padding: 8px 20px;
      margin-top: 30px;
      @media screen and (min-width: 1280px) and (min-height: 590px) and (max-height: 792px) {
        margin-top: 20px;
      }
    }
  }
}
