@import "colors";

.hero {
  height: 100vh;
  margin-top: 0px;
  background-image: url("/hero-background.png");
  background-size: cover;
  background-position: right top;
  background-repeat: no-repeat;
}

.heading {
  margin: auto;

  @media (min-width: 992px) {
    justify-content: baseline;
  }

  h1 {
    font-family: "Courier Prime", monospace;
    font-weight: 600;
    color: $main-dark;
    font-size: 16px;

    @media (min-width: 576px) {
      font-size: 35px;
    }

    @media (min-width: 992px) {
      font-size: 1.5em;
    }
  }
  .typewriter {
    font-family: "Courier Prime", monospace;
    font-weight: 900;
    color: #0060d0;
  }

  .firstName {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: $main-dark;

    @media (min-width: 576px) {
      font-size: 40px;
    }

    @media (min-width: 768px) {
      font-size: 50px;
    }

    @media (min-width: 992px) {
      font-size: 80px;
    }
  }

  width: 100%;
  font-size: 35px;
  display: flex;
  align-items: center;
}
